---
import { Icon } from 'astro-icon/components';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Headline as HeadlineProps, Item, Widget } from '~/types';

export interface Props extends Widget {
  headline?: HeadlineProps;
  items?: Array<Item>;
  columns?: number;
  defaultIcon?: string;
  classes?: Record<string, string>;
}

const {
  headline,
  items = [],
  columns = 2,
  defaultIcon = '',
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const wrapperClasses = {
  container: 'max-w-7xl mx-auto px-4 sm:px-6 lg:px-8',
  ...((classes?.wrapper as unknown as object) ?? {}),
};

const headlineClasses = {
  container: 'max-w-3xl mx-auto text-center',
  ...((classes?.headline as unknown as object) ?? {}),
};

const contentClasses = {
  container: `grid md:grid-cols-${columns} gap-8 md:gap-12`,
  ...((classes?.content as unknown as object) ?? {}),
};

const itemClasses = {
  container: 'text-center md:text-left rtl:md:text-right',
  icon: 'flex justify-center md:justify-start rtl:md:justify-end mb-2',
  title: 'text-xl font-bold',
  description: 'text-muted dark:text-slate-400',
  ...((classes?.item as unknown as object) ?? {}),
};
---

<WidgetWrapper id={id} isDark={isDark} containerClass={wrapperClasses.container} bg={bg}>
  <Headline {...headline} classes={headlineClasses} />
  <div class={contentClasses.container}>
    {
      items.map(({ title, description, icon }) => (
        <div class={itemClasses.container}>
          {(icon || defaultIcon) && (
            <div class={itemClasses.icon}>
              <Icon name={icon || defaultIcon} class="w-12 h-12" />
            </div>
          )}
          <h3 class={itemClasses.title}>{title}</h3>
          <p class={itemClasses.description} set:html={description} />
        </div>
      ))
    }
  </div>
</WidgetWrapper>
