---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Headline as HeadlineProps, Stat, Widget } from '~/types';

export interface Props extends Widget {
  headline?: HeadlineProps;
  stats?: Array<Stat>;
}

const {
  headline,
  stats = [],
  id,
  isDark = false,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" bg={bg}>
  <Headline {...headline} />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
      stats.map(({ amount, title }) => (
        <div class="text-center">
          <div class="flex items-center justify-center">
            <div class="text-5xl font-bold text-primary dark:text-blue-600">{amount}</div>
          </div>
          <p class="text-xl text-muted dark:text-slate-400" set:html={title} />
        </div>
      ))
    }
  </div>
</WidgetWrapper>
